body {
  font-family: "Montserrat";
  text-align: center;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}
.titular:hover{
  filter: brightness(20%);
}
/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.0rem;
  color: white;
  line-height: 1.8;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15% ;
  padding-bottom: 30px;
}

/* Sections */

.colored-section {
  background-color: #557B83;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #557B83;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  /* transform: rotate(25deg); */
  position: absolute;
  right: 10%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #557B83;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  height: 625.18px;
  width: 1022.55px;
  padding-bottom: 50px;
  /* border-radius: 100%; */
  /* margin: 20px; */
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
.three_image{
  width: 270px;
  margin-bottom:20px;
}
.three_image_updated{
  margin-bottom: 20px;
  width:220px;
}
.loop{
  width: 100%;
    height: 100%;
    transform: translate3d(0px, 0px, 0px);
    content-visibility: visible;
}
/* .three_image:hover{
  color: #180A0A;
} */
.three_image:hover {
  filter: brightness(110%);
}
.title_image:hover {
  filter: brightness(160%);
}
.laptop_screen{
  background-color: #fff;
}
.container-fluid{
  padding-bottom: 20px;
}
.johnwick{
  width: 60px;
}
.ocial-icon fab fa-twitter {
  background-color: red;
}
.whatsapp{
  border-radius: 100%;
  width: 90px;
  line-height: 40px;
}
.whatsapp:hover {
  filter: brightness(120%);
}
.join{
  line-height: 60px;
}
.pricing-column{
  color: #557B83;

}
.card-header{
  background-color: #557B83;
}
.box_header{
  color: #fff;
}
/* -----------Testing Class----------------- */
.geeks {
        width: 20%;
        top: 50%;
        position: absolute;
        left: 40%;
        border-bottom: 5px solid white;
        overflow: hidden;
        animation: animate 5s linear forwards;
    }

    .geeks h1 {
        color: white;
    }

    @keyframes animate {
        0% {
            width: 0px;
            height: 0px;
        }
        30% {
            width: 50px;
            height: 0px;
        }
        60% {
            width: 50px;
            height: 80px;
        }
    }
/* ---------------------------- */
.three_image_updated_final{
  padding-top: 0;
  padding-bottom: 0;
}
.unnati{
  color:white;
}
